
.visitor-scroll {
    height: 500px;
    overflow-y: auto;
}

.visitor-name {
    color: blue;
}

.visitor-date {
    font-weight: 400;
}

.photo-title {
    background-color: #f3e0f7;
    margin: 10px;
    padding:10px;
    font-size: 13px;
}

.visitor-img {
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgorund-1 {
    width: 130px;
    height: 130px;
    background-image: url("../images/tumblr_nxvta4jbwi1qlhvfoo1_250.gif");
    margin-left: 10px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

.backgorund-2 {
    width: 130px;
    height: 130px;
    background-image: url("../images/tumblr_oiez08nsvh1qlhvfoo1_500.gif");
    margin-left: 10px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

.visitor-text {
    margin-bottom: 70px;
    margin-top: 30px;
    margin-right: 30px;
}






